<%
  paint = data["metrics"]["FIRST_CONTENTFUL_PAINT_MS"]
  paint_distributions = paint["distributions"]

  input_delay = data["metrics"]["FIRST_INPUT_DELAY_MS"]
  input_delay_distributions = input_delay["distributions"]
%>

<p align="center"><b>Overall Result: <i><%= data["overall_category"] %></i></b></p><br>
<div class="col-xs-6">
  <p>First Contentful Paint: <%= paint["category"] %></p>
  <%= render "progress", distributions: paint_distributions %>
</div>
<div class="col-xs-6">
  <p>First Input Delay: <%= input_delay["category"] %></p>
  <%= render "progress", distributions: input_delay_distributions %>
</div>