<div class="container-fluid">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "DNS", domain_name_services_path %></li>
    <li class="active">Page Insight</li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Make your web pages fast on all devices</h3>
    </div>
    <div class="panel-body">
      <h2 align="center">Analysis result of <%= @result["id"] %></h2><br>
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <strong>NOTE:</strong> Percentages display may not total to 100% due to rounding.
      </div>
      <%
        field_data = @result["loadingExperience"]
        origin_data = @result["originLoadingExperience"]
        lighthouse_audits = @result["lighthouseResult"]["audits"]
      %>
      <div class="col-xs-12">
        <div class="row">
          <div class="panel panel-danger">
            <div class="panel-body">
              <h4 class="panel-custom-title">Field Data</h4><hr>
              <%= render "data", data: field_data %>
            </div>
          </div>
          <div class="panel panel-danger">
            <div class="panel-body">
              <h4>Origin Data</h4><hr>
              <%= render "data", data: origin_data %>
            </div>
          </div>
          <div class="panel panel-danger">
            <div class="panel-body">
              <h4>Lighthouse Result</h4><hr>
              <div class="col-xs-6">
                <p>First Contentful Paint: <%= lighthouse_audits["first-contentful-paint"]["displayValue"] %></p>
                <p>First Meaningful Paint: <%= lighthouse_audits["first-meaningful-paint"]["displayValue"] %></p>
                <p>Estimated Input Latency: <%= lighthouse_audits["estimated-input-latency"]["displayValue"] %></p>
              </div>
              <div class="col-xs-6">
                <p>Time to Interactive: <%= lighthouse_audits["interactive"]["displayValue"] %></p>
                <p>First CPU Idle: <%= lighthouse_audits["first-cpu-idle"]["displayValue"] %></p>
                <p>Speed Index: <%= lighthouse_audits["speed-index"]["displayValue"] %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
