<div class="container-fluid">
  <%= render 'shared/error_messages', resource: @domain_name_service %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Show Domain Name Service</h3>
    </div>
    <div class="panel-body">
      <h2 align="center">DNS Information</h2><br>
      <div class="row">
        <div class="col-xs-12">
          <%= form_for @domain_name_service, html: {class: 'form-horizontal', role: 'form'} do |f| %>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :url %>
              </div>
              <div class="control-label col-sm-8">
                <%= f.text_field :url, class: 'form-control', disabled: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :status %>
              </div>
              <div class="control-label col-sm-2">
                <%= f.text_field :status, class: 'form-control', disabled: true %>
              </div>
              <div class="control-label col-sm-2 col-sm-offset-2">
                <%= f.label :https %>
              </div>
              <div class="control-label col-sm-2">
                <%= f.text_field :https, class: 'form-control', disabled: true %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= link_to 'Edit this DNS', edit_domain_name_service_path(@domain_name_service), class: 'btn btn-lg btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

