<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "PAGE SPEED", root_path , class:"navbar-brand", id:"logo" %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Users", "#" , id:"nav-text"%></li>
        <li><%= link_to "DNS", "#", id:"nav-text"%></li>
        <li><%= link_to "Test Speed", "#", id:"nav-text"%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Logout", "#", id:"nav-text"%></li>
        <li><%= link_to "Login", "#", id:"nav-text"%></li>
        <li><%= link_to "Sign up", "#", id:"nav-text"%></li>
      </ul>
    </div>
  </div>
</div>