<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "App" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PAGE SPEED", root_path , class:"navbar-brand", id:"logo" %>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-left">
          <% if user_is_admin? %>
            <li><%= link_to "Users", admin_users_path , id:"nav-text"%></li>
          <% end %>
          <li><%= link_to "DNS", "#", id:"nav-text"%></li>
          <li><%= link_to "Test Speed", "#", id:"nav-text"%></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, id:"nav-text"%></li>
            <li class="nav-item">
              <p class="navbar-text" id="nav-user">Signed in as <%= current_user.email %></p>
            </li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path, id:"nav-text"%></li>
            <li><%= link_to "Sign up", new_user_registration_path, id:"nav-text"%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
  <footer class="page-footer">
    <div class="container-fluid">
      <medium style="float: left">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2019: Page Speed</medium>
      <medium style="float: right">Developed By Jasper T. Tabacug</medium>
    </div>
  </footer>

  </body>
</html>
